<div class="login-container">
    <div class="logo">CineMatrix</div>
    <div class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut at libero architecto inventore reprehenderit nostrum voluptate earum mollitia maiores delectus, sequi, in asperiores hic minima. Earum explicabo placeat debitis rem.</div>
    <div class="login-form">
        <div class="form-group">
            <label for="uname">Username</label>
            <input type="text" name="uname"  class="form-control" [(ngModel)]="username">
        </div>
        <div class="form-group">
            <label for="pword">Password</label>
            <input type="password" name="pword"  class="form-control" [(ngModel)]="password">
        </div>
        <div class="btn-container">
            <div class="error">{{ errorMsg }}</div>
            <button class="btn btn-dark" (click)="login()">Logins</button>
        </div>
    </div>
</div>